
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: #414141;
    text-align: center;
}



nav {
    background-color: #000000;
    padding: 10px 0;
}



nav ul {
    list-style: none;
    padding: 0;
}



nav ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;

}



nav ul li a 

{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px 15px;
    background: #ffb52a;
    border-radius: 5px;
}



    nav ul li a:hover {
     background-color: #555;
    }



    /* Submenu  */



    nav ul .submenu {
        display: none;
        position: absolute;
        background-color: #444;
        list-style: none;
        top:100%;
        left: 0;
        width: 150px;
        border-radius: 5px;
    }



    nav ul li:hover .submenu {
        display: block;
        text-align: left;
    }



    nav ul .submenu li a {
        display: block;
        padding: 10px;
        border-radius: 0;
    }



    /* Tela de Login  */



    .login-container {
        background-color: #ffb52a;
        width: 350px;
        margin: 80px auto;
        padding: 20px;
        border-radius: 10px;
        text-align: left;
    }

    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }


    .input-group {
        margin-bottom: 15px;
    }



    .input-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }



    .input-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }



button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
} 